# i3 config file (v4)
# Please see http://i3wm.org/docs/userguide.html for a complete reference!

#alt key
set $mod Mod1
#windows key
set $mod1 Mod4

# -------------------------------------------------------
#                       fonts
# -------------------------------------------------------

# Font for window titles. Will also be used by the bar unless a different font
# is used in the bar {} block below. ISO 10646 = Unicode
#font pango:Droid Sans, FontAwesome 8
font pango:DejaVu Serif, FontAwesome 8
#font pango: monospace 9

# The font above is very space-efficient, that is, it looks good, sharp and
# clear in small sizes. However, if you need a lot of unicode glyphs or
# right-to-left text rendering, you should instead use pango for rendering and
# chose a FreeType font, such as:
font pango:source code pro medium 10
# font pango:DejaVu Sans Mono 9
#font pango: Cantarell 10

# -------------------------------------------------------
#                       variables
# -------------------------------------------------------

#set $terminal exec --no-startup-id urxvt
set $terminal exec i3-sensible-terminal
set $ranger exec --no-startup-id urxvt -e ranger
#set $ranger exec --no-startup-id i3-sensible-terminal --depth 0 -e ranger #for ranger
set $reboot exec --no-startup-id i3-sensible-terminal -e sudo reboot
set $vimwiki exec --no-startup-id i3-sensible-terminal -e vim ~/vimwiki/index.md
set $shutdown sudo -A shutdown -h now
set $reboot sudo -A reboot
set $BROWSER

# for cmus:
#set $music exec --no-startup-id i3-sensible-terminal cmus -e cmus
#set $togglePause exec --no-startup-id cmus-remote -u
#set $next exec --no-startup-id cmus-remote -n
#set $prev exec --no-startup-id cmus-remote -r
#set $volUp exec --no-startup-id cmus-remote -v +10%
#set $volDown exec --no-startup-id cmus-remote -v -10%

# for mpc:
set $music exec --no-startup-id i3-sensible-terminal ncmpcpp -e ncmpcpp
set $togglePause exec --no-startup-id mpc toggle
set $next exec --no-startup-id mpc next
set $prev exec --no-startup-id mpc prev
set $volUp exec --no-startup-id mpc volume +5
set $volDown exec --no-startup-id mpc volume -5

#FOR ALSA/AMIXER
#set $inc --no-startup-id amixer sset Master 2%+
#set $biginc --no-startup-id amixer sset Master 5%+
#set $dec --no-startup-id amixer sset Master 2%-
#set $bigdec --no-startup-id amixer sset Master 5%-
#set $mute --no-startup-id amixer sset Master toggle
#set $truemute --no-startup-id amixer sset Master mute

# -------------------------------------------------------
#                       general settings
# -------------------------------------------------------

mode "passthrough" {
    bindsym $mod+Escape mode "default"
    }
    bindsym $mod+Escape mode "passthrough"

# thin borders
# hide_edge_borders both

for_window [class="Arandr"] floating enable
for_window [class="Anki"] floating enable
for_window [class="Thunar"] floating enable
for_window [class="Gnome-calculator"] floating enable
for_window [class="Pcmanfm"] floating enable
for_window [class="Gnucash"] floating enable
for_window [class="Lxappearance"] floating enable
for_window [class="mpv"] floating enable
#for_window [class="^Chromium$" window_role="^pop-up$"] floating enable
for_window [class="^Chromium-browser$" window_role="^pop-up$"] floating enable
for_window [class="^Steam$" window_role="^pop-up$"] floating enable
for_window [window_role="pop-up"] floating enable
for_window [window_role="task_dialog"] floating enable
for_window [window_role="Preferences"] floating enable
for_window [window_type="dialog"] floating enable
for_window [window_type="menu"] floating enable
for_window [instance="__scratchpad"] move scratchpad
for_window [title="ranger" class="URxvt"] floating enable
#for_window [title="cmus" class="URxvt"] move to workspace $tag5
#for_window [title="newsboat" class="URxvt"] move to workspace $tag4
for_window [instance="__ranger"] floating enable
#for_window [instance="__newsboat"] move to workspace $tag4
for_window [instance="__music"] move to workspace $tag4


# use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod

#Remap caps to escape
exec_always --no-startup-id setxkbmap -option caps:escape

# Really small borders and no title for windows
for_window [class="^."] border pixel 0

# -------------------------------------------------------
#                       Workspaces
# -------------------------------------------------------

# name the workspaces
set $tag1 "1"
set $tag2 "2"
set $tag3 "3"
set $tag4 "4"
set $tag5 "5"
set $tag6 "6"
set $tag7 "7"
set $tag8 "8"
set $tag9 "9"
set $tag10 "0"

# assigns
assign [class="^Firefox$"] → $tag1
assign [class="^Chromium-browser$"] → $tag2
assign [class="^Thunderbird$"] → $tag4
assign [class="^qBittorrent$"] → $tag5
#assign [class="^mpv$"] → $tag5
assign [class="^Transmission-gtk$"] → $tag5
assign [class="^Steam$"] → $tag8
assign [class="^Skype$"] → $tag9
#assign [class="^Gnome-terminal$^" instance="^cmus$"] → $tag4
#assign [class="^Gnome-terminal$^" instance="^newsboat$"] → $tag4
#assign [class="^Eclipse$"] → $tag3
#assign [class="^VirtualBox$"] → $tag3
#assign [class="^Filezilla$"] → $tag3

# switch to workspace
bindsym $mod+1 workspace $tag1
bindsym $mod+2 workspace $tag2
bindsym $mod+3 workspace $tag3
bindsym $mod+4 workspace $tag4
bindsym $mod+5 workspace $tag5
bindsym $mod+6 workspace $tag6
bindsym $mod+7 workspace $tag7
bindsym $mod+8 workspace $tag8
bindsym $mod+9 workspace $tag9
bindsym $mod+0 workspace $tag10

# move focused container to workspace
bindsym $mod+Shift+1 move container to workspace $tag1
bindsym $mod+Shift+2 move container to workspace $tag2
bindsym $mod+Shift+3 move container to workspace $tag3
bindsym $mod+Shift+4 move container to workspace $tag4
bindsym $mod+Shift+5 move container to workspace $tag5
bindsym $mod+Shift+6 move container to workspace $tag6
bindsym $mod+Shift+7 move container to workspace $tag7
bindsym $mod+Shift+8 move container to workspace $tag8
bindsym $mod+Shift+9 move container to workspace $tag9
bindsym $mod+Shift+0 move container to workspace $tag0

# -------------------------------------------------------
#                       i3-gaps
# -------------------------------------------------------

for_window [class=".*"] border pixel 1
gaps inner 8
gaps outer 1
new_window pixel 2
new_float pixel
smart_borders on #borders only active if window amount > 1

# window colors
#                       border                  background              text                    indicator
#client.focused          $bar-focused-border	    $border-color           $inactive-text-color    $focused-border-color
#client.unfocused        $border-color           $bar-focused-border     $inactive-text-color    $border-color
#client.focused_inactive $border-color           $border-color           $inactive-text-color    $border-color
#client.urgent           $urgent-bg-color        $urgent-border-color    $urgent-text-color      $border-color

# class                 border  backgr. text    indicator child_border
#client.focused          #4c7899 #285577 #ffffff #2e9ef4   #285577
client.focused          #C48508 #C48508 #ffffff #C48505   #C48505
client.focused_inactive #333333 #5f676a #ffffff #484e50   #5f676a
client.unfocused        #333333 #222222 #888888 #292d2e   #222222
client.urgent           #2f343a #900000 #ffffff #900000   #900000
client.placeholder      #000000 #0c0c0c #ffffff #000000   #0c0c0c
client.background       #ffffff

# -------------------------------------------------------
#                       i3-bar
# -------------------------------------------------------

set $border-color         #c00000

set $bar-bg               #00000
set $bar-separator        #ffffff

set $bar-focused-border   #a8a19f
set $bar-focused-bg       #1b1918
set $bar-focused-text     #f1efee

set $bar-inactive-border  #2c2421
set $bar-inactive-bg      #1b1918
set $bar-inactive-text    #68615e

set $bar-urgent-border    #f22c40
set $bar-urgent-bg        #1b1918
set $bar-urgent-text      #f22c40

# Start i3bar to display a workspace bar (plus the system information i3status
# finds out, if available)
#bar {
#	height 18
#       status_command i3status
#	tray_output primary
#	colors {
#		background $bar-bg
#		separator $bar-separator
#		#                  border               background         text
#		focused_workspace  $bar-focused-border  $bar-focused-bg    $bar-focused-text
#		inactive_workspace $bar-inactive-border $bar-inactive-bg   $bar-inactive-text
#		urgent_workspace   $bar-urgent-border   $bar-urgent-bg     $bar-urgent-text
#}
#}

# -------------------------------------------------------
#                       startup
# -------------------------------------------------------
#start browser
exec --no-startup-id chromium-browser
#start thunderbird
#exec --no-startup-id thunderbird
#wifi applet:
#exec --no-startup-id nm-applet
#desktop wallpaper
exec --no-startup-id feh --bg-fill ~/.config/i3/wallpaper
#make WAL colorscheme persist on reboot
#exec wal -R
#composite manager
exec autorandr --change
exec compton -f
#adjusting color like f.lux | eislingen
exec redshift -l 48.69515:9.70676
#lock script
#exec ~/.config/i3/i3lock.sh
#Unclutter makes the mouse invisible after a brief period
exec_always --no-startup-id unclutter
#Disables touchpad; you might like like this one! (I only use the ThinkPad trackpoint).
exec --no-startup-id exec synclient TouchpadOff=1
#launch polybar
exec_always --no-startup-id $HOME/.config/polybar/polybar-scripts/launch.sh
#launch flashfocus
exec_always --no-startup-id flashfocus
#launch one terminal instance w/ specific name
#exec --no-startup-id i3-sensible-terminal -name __scratchpad
exec --no-startup-id urxvt -name __scratchpad
exec --no-startup-id i3-sensible-terminal -e ncmpcpp -name __music
#exec --no-startup-id i3-sensible-terminal -e newsboat -name __newsboat
#exec --no-startup-id urxvt -e newsboat
#exec --no-startup-id urxvt -e cmus
#exec --no-startup-id "i3-msg 'workspace 4; append_layout ~/.config/i3/workspace-4.json'"
#exec --no-startup-id "i3-msg 'workspace 2; append_layout ~/.config/i3/workspace-2.json'"



# -------------------------------------------------------
#                       keybindings
# -------------------------------------------------------

bindsym $mod+v $volDown
bindsym $mod+Shift+v $volUp
bindsym $mod+b $next
bindsym $mod+Shift+b $prev
bindsym $mod+p $togglePause

#open music client in terminal
bindsym $mod+m $music
#open ranger in terminal
bindsym $mod+r $ranger
#reboot the system
bindsym $mod+Shift+Backspace exec --no-startup-id prompt "Reboot computer?" "$reboot"
#open htop in terminal
bindsym $mod+i exec --no-startup-id i3-sensible-terminal -e htop
#shutdown system
bindsym $mod+Shift+x exec --no-startup-id prompt "Shutdown computer?" "$shutdown"
#arandr for display setting
bindsym $mod+F3 exec --no-startup-id arandr
bindsym $mod+y exec --no-startup-id scrot -s -e 'mv $f ~/Pictures/screenshots'
#open browser
#bindsym $mod+Shift+f exec --no-startup-id $BROWSER
#i3lock script
bindsym $mod+q exec ~/.config/i3/i3lock.sh
# start a terminal
# bindsym $mod+Return exec i3-sensible-terminal
bindsym $mod+Return $terminal
# bindsym $mod+Shift+Return $vimwiki
bindsym $mod+s scratchpad show
bindsym $mod+Shift+s move scratchpad
bindsym $mod+space exec rofi -show run -modi run#window
#bindsym $mod+space exec ~/.scripts/rofi-scripts/rofi-bangs.sh # source https://github.com/gotbletu/shownotes/raw/master/rofi-scripts-collection/rofi-surfraw-websearch.sh

# resize windows
bindsym $mod+Shift+o        resize shrink width 5 px or 5 ppt
bindsym $mod+Shift+u        resize grow height 10 px or 10 ppt
bindsym $mod+Shift+i        resize shrink height 10 px or 10 ppt
bindsym $mod+Shift+y 	    resize grow width 5 px or 5 ppt

# reload the configuration file
bindsym $mod+Shift+c reload
# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Shift+r restart
# exit i3 (logs you out of your X session)
bindsym $mod+Shift+e exec "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -b 'Yes, exit i3' 'i3-msg exit'"

# kill focused window
bindsym $mod+c kill

# change focus
bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right

# move focused window
bindsym $mod+Shift+h move left
bindsym $mod+Shift+j move down
bindsym $mod+Shift+k move up
bindsym $mod+Shift+l move right

# toggle between splitting in horizontal or vertical orientation
bindsym $mod+t split toggle

# enter fullscreen mode for the focused container
bindsym $mod+f fullscreen

# change container layout (stacked, tabbed, toggle split)
# bindsym $mod+s layout stacking
# bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split

# toggle tiling / floating
bindsym $mod+Shift+space floating toggle

# change focus between tiling / floating windows
# bindsym $mod+space focus mode_toggle

# focus the parent container
# bindsym $mod+a focus parent
# focus the child container
# bindsym $mod+d focus child


# ---- XF86 Keybinds ----

bindsym XF86AudioPlay exec --no-startup-id playerctl play-pause
bindsym XF86AudioPause exec --no-startup-id playerctl play-pause
bindsym XF86AudioNext exec --no-startup-id playerctl next
bindsym XF86AudioPrev exec--no-startup-id playerctl previous

# Pulse Audio controls
bindsym XF86AudioRaiseVolume exec --no-startup-id pactl set-sink-volume 1 +5% #increase sound volume
bindsym XF86AudioLowerVolume exec --no-startup-id pactl set-sink-volume 1 -5% #decrease sound volume
bindsym XF86AudioMute exec --no-startup-id pactl set-sink-mute 1 toggle # mute sound

# Screen brightness controls
bindsym XF86MonBrightnessUp exec xbacklight -inc 10 # increase screen brightness
bindsym XF86MonBrightnessDown exec xbacklight -dec 10 # decrease screen brightness

